<h2 class="sub-header">Document List</h2>
<div class="table-responsive" >
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Hash</th>
        <th>File Name</th>
        <th>Owner</th>
        <th>Date</th>
        <th>Tx ID</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(hash, doc) in docList" >
        <td><samp>{{ doc.Hash | limitTo: 30 }}</samp></td>
        <td>{{ doc.Name }}</td>
        <td>{{ doc.Owner }}</td>
        <td></td>
        <td></td>
        <td>
          <button class="btn btn-info" ng-click="transfer(doc)">Transfer</button>
          <button class="btn btn-danger" ng-click="delete(doc)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
