<h2 class="sub-header">Transaction List</h2>
<div class="hideOverflow">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Transaction ID</th>
        <th>Function</th>
        <th>Document hash</th>
        <th class="col-sm-4">Arguments </th>
        <th class="col-sm-2">Chaincode</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tx in transactionList track by $index" ng-class="{danger: tx.result.errorCode}" >
        <td><a href="" data-toggle="modal" data-target="#myModal" ng-click="popup($index)">{{tx.transaction.txid }}</a></td>
        <td>{{tx.chaincodeSpec.ctorMsg.args[0]}}</td>
        <td>{{tx.chaincodeSpec.ctorMsg.args[1]}}</td>
        <td>{{tx.chaincodeSpec.ctorMsg.args[2]}}</td>
        <td>{{tx.chaincodeSpec.chaincodeID.name }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Transaction details</h4>
      </div>
      <div class="modal-body">
        <pre>{{popupTransaction | json}}</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
